
<%= erb :"_errors", locals: {errors: @cat.errors}%>

<form method="POST" action="/cats">
  <input type="text" name="cat[name]" value="<%= @cat.name %>" placeholder="name"/>
  <input type="text" name="cat[breed]" value="<%= @cat.breed %>" placeholder="breed"/>
  <input type="submit">
</form>